<p id="notice"><%= notice %></p>
<%= react_component("MyTrips", {today_trips: @today_trips,
                                future_trips: @future_trips,
                                previous_trips: @previous_trips}) %>
