<%= react_component("devise/auth/sign-upForm", {registration_path: registration_path(resource)}) %>
<% if resource.errors.any? %>
  </div>
      <% resource.errors.full_messages.each do |message| %>
        
        <%= react_component("devise/auth/sign-upForm", {message_error: message}) %>
      <% end %>
  </div>
<% end %>