<%= react_component("devise/auth/sign-inForm", {user_session_path: user_session_path(resource), 
user_registration_path: ""}) %>
<% if resource.errors.any? %>
  </div>
      <% resource.errors.full_messages.each do |message| %>
        <%= react_component("devise/auth/error", {error: message}) %>
      <% end %>
  </div>
<% end %>


